:root {
    --white-color:                #FFFFFF;
    --primary-color:              #4CA996;
    --section-bg-color:           #B1E8DC;
    --dark-color:                 #000000;
    --grey-color:                 #d0d1d1;
    --p-color:                    #717275;
    --price-color:                #A30000;
  
    --body-font-family:           'Merriweather', sans-serif;
  
    --h5-font-size:               24px;
    --p-font-size:                20px;
    --copyright-text-font-size:   16px;
    --product-link-font-size:     14px;
    --custom-link-font-size:      12px;
  
    --font-weight-thin:           100;
    --font-weight-light:          300;
    --font-weight-normal:         400;
    --font-weight-bold:           700;
    --font-weight-black:          900;
  }
  
  body,
  html {
    height: 100%;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
  
  body {
      background: var(--white-color);
      font-family: var(--body-font-family);    
      position: relative;
  }
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 var(--white-color);
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin-top: -10px;
  margin-left: -23px;
  border-radius: 50%;
  border: 1px solid #959595;
  border-top-color: var(--white-color);
  animation: spinner .9s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

/* PRE LOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 var(--white-color);
}
  
.spinner {
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;
}
  
.spinner::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -23px;
    border-radius: 50%;
    border: 1px solid #959595;
    border-top-color: var(--white-color);
    animation: spinner .9s linear infinite;
}
  
@keyframes spinner {
    to {transform: rotate(360deg);}
}